<% content_for :title, "Editing Plant" %>

<main class="container">
  <%= link_to sanitize("&larr; Back to plant"), creature_path(@creature) %>

  <div class="header">
    <h1>Edit Plant</h1>
  </div>

  <%= render "form", creature: @creature %>
</main>
