<% content_for :title, "List of Plants" %>

<main class="container">
  <div class="mb-3">
    <h1>Plant List</h1>
    <p style="color: green"><%= notice %></p>
  </div>

  <div class="mb-3">
    <div class="row">
      <% @creatures.each do |creature| %>
        <div class="col-xl-4 col-lg-6">
          <%= render "creatures/creature_card", creature: creature %>
        </div>
      <% end %>
    </div>
  </div>

  <% if current_user&.admin? %>
    <div class="d-admin mb-2">
      <%= link_to "Admin Only: Add New", new_creature_path, { class: "btn btn-spj-primary" } %>
    </div>
  <% end %>
</main>
