<% content_for :title, "New Plant" %>

<main class="container">
  <%= link_to sanitize("&larr; Back to the Plant List"), root_path %>

  <div class="header">
    <h1>New Plant</h1>
  </div>

  <%= render "form", creature: @creature %>
</main>
