<% content_for :title, "Editing Plant Resource" %>

<h1>Editing Plant Resource</h1>

<%= render "form", creature_resource: @creature_resource %>

<br>

<div>
  <%= link_to "Show this plant resource", @creature_resource %> |
  <%= link_to "Back to plant resources", creature_resources_path %>
</div>
