<p style="color: green"><%= notice %></p>

<% content_for :title, "Creature resources" %>

<h1>List of Plant Resources</h1>

<%= link_to "New creature resource", new_creature_resource_path %>

<div id="creature_resources">
  <% @creature_resources.each do |creature_resource| %>
    <%= render creature_resource %>
  <% end %>
</div>
