<% content_for :title, "New Plant Resource" %>

<h1>New Plant Resource</h1>

<%= render "form", creature: nil, creature_resource: @creature_resource %>

<br>

<div>
  <%= link_to "Back to plant resources", creature_resources_path %>
</div>
